@import './vaiables.scss';

.contact_form {
  justify-content: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.contact_banner {
  background-color: $clr-blue-900;
  padding-top: 1rem;
  .banner_col {
    display: grid;
    grid-template-columns: 0.04fr 1fr 0.9fr;
    gap: 2rem;
    align-items: center;
    padding: 2rem 0 3rem;
  }
  .banner_text {
    grid-column: 2;
    color: $clr-white;
  }
  .banner_img {
    span {
      padding-top: 0 !important;
      aspect-ratio: 3/2;
    }
  }
}

.contact_block {
  background: url("https://res.cloudinary.com/dcfzux5xq/image/upload/q_auto/v1662729602/Techdots/images/img_side_am64jg.svg") no-repeat;
  background-position: bottom 40px left;
}

@media(max-width: 991px) {
  .contact_banner {
    .banner_col {
      grid-template-columns: 1fr;
    }
    .banner_text {
      grid-column: 1;
      padding-left: 1.7rem;
    }
    .banner_img {
      display: none;
    }
  }
}

@media(max-width: 767px) {
  .contact_banner {
    .banner_text {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }
  .contact_block {
    background: none;
  }
}
