@import './vaiables.scss';

.contact_form {
  .email_link {
    padding-left: 0.4rem;
    &:hover {
      color: $clr-green-400;
    }
  }
  .action_text {
    span {
      color: $clr-grey-300;
    }
  }
  .action_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  textarea {
    resize: none;
    height: 7rem;
  }
}

@media(max-width: 1024px) {
  .contact_form {
    .action_btn {
      flex-direction: column-reverse;
      gap: 1rem;
    }
  }
}

@media(max-width: 767px) {
  .contact_form {
    h2 {
      margin-bottom: 2rem !important;
      padding-bottom: 0;
    }
    .action_text {
      font-size: 0.9rem;
      padding-bottom: 2rem;
    }
  }
}
