@import './vaiables.scss';


.footer {
	font-family: 'Helvetica';
	background-color: $clr-blue-900;
	color: $clr-white;
	h2 {
		line-height: 1.2;
		&:after {
			margin: 1rem 0;
			width: 10.3125rem;
		}
	}
	.footer_grid {
		display: grid;
		grid-template-columns: 1fr 0.7fr 0.7fr 0.7fr;
		gap: 2rem;
		padding: 3rem 0;
	}
	.footer_list_block {
		justify-self: flex-end;
		li {
			line-height: 2.1;
		}
		a {
			font-size: 13px;
			&:hover {
				color: $clr-green-400;
			}
		}
	}

	.copy_right {
		width: 100%;
		background: $clr-blue-800;
		padding: 0.65rem 0;
		font-size: 13px;
		color: $clr-white;
		display: flex;
		.copy_right_text {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		.social_icons {
			font-size: 1.2rem;
			a {
					&:not(:last-child) {
						padding-right: 1rem;
				}
			}
		}
	}
}

@media(max-width: 767px) {
	.footer {
		.footer_grid {
			grid-template-columns: 1fr;
		}
		.footer_list_block {
			justify-self: flex-start;
		}
		.copy_right {
			.copy_right_text {
				flex-direction: column-reverse;
				row-gap: 0.5rem;
			}
		}
	}
}

@media(max-width: 480px) {
	.footer {
		.copy_right {
			flex-direction: column-reverse;
		}
	}
}
