@import './vaiables.scss';

@font-face {
  font-family: Helvetica;
  src: url('https://res.cloudinary.com/dcfzux5xq/raw/upload/v1655905208/Techdots/fonts/Helvetica/Helvetica_quk2eq.woff2') format("woff2");
  font-display: swap;
}

*, ::after, ::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul, ol, li {
  margin: 0;
  padding: 0;
  list-style: none;
}


html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: $font-comfortaa;
  color: $clr-black;
}

h1 {
  font-size: clamp(2rem, calc( 12px + 3.300vw ), 2.6875rem);
  line-height: 1.4;
}

h2 {
  position: relative;
  font-size: clamp(1.5rem, calc( 12px + 2.400vw ), 2.2rem);
  line-height: 1.8;
  // &:before {
  //   content: ".";
  //   position: absolute;
  //   left: 8.2rem;
  //   bottom: -21px;
  //   color: $clr-green-400;
  // }
  &:after {
    content: "";
    background: url('https://res.cloudinary.com/dcfzux5xq/image/upload/q_auto/v1655906826/Techdots/images/line_nltoym.svg') no-repeat;
    display: block;
    background-size: 100%;
    width: 11.125rem;
    height: 8px;
  }
}

h3 {
  font-size: clamp(1.2rem, calc( 12px + 1.800vw ), 1.75rem);
  line-height: 1;
}

p {
  line-height: 1.5;
  // font-size: clamp(1.2vw, 4vw, 0.88vw);
}

a {
  color: inherit;
  text-decoration: none;
}

.link-clr {
  color: $clr-green-400;
}

a, .btn {
  transition: all 0.3s ease;
}

.btn {
  background-color: initial;
}

.primary-btn {
  min-width: 10.625rem;
  background: $clr-green-400;
  padding: 0.62rem;
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 18px;
  color: $clr-white;
  border-radius: 5px;
  box-shadow: 0 5px 8px 0px rgba(0,0,0,0.25);
  transition: transform 0.3s ease;
  &:hover, &:disabled {
    transform: translateY(-3px);
    color: $clr-white;
    box-shadow: none;
    background: $clr-green-400;
    border-color: $clr-green-400;
  }
  &:focus {
    outline: 2px solid $clr-green-300;
  }

}

.btn-outline {
  padding: 0.7rem 1rem;
  border: 1px solid $clr-white;
  text-transform: capitalize;
  color: $clr-white;
  font-size: 0.8125rem;
  &:hover {
    background: $clr-white;
    color: $clr-black;
    border-color: $clr-white;
  }
}

.btn-white {
  background: $clr-white;
  color: $clr-black;
  &:hover {
    color: $clr-black;
    background: $clr-white;
    border-color: $clr-white;
  }
}

.clr-green {
  color: $clr-green-400;
}

.bg-grey-100 {
  background-color: $clr-grey-100;;
}

.bold-text {
  font-weight: 700;
}

.heading-center {
  text-align: center;
  &:after {
    margin: auto;
  }
}

.link-heading {
  display: block;
  font-weight: 700;
  color: $clr-black;
  &:hover {
    color: $clr-black;
  }
}

.text-muted {
  color: hsl(0deg 0% 0% / 40%)!important;
}

small {
  font-size: 0.75rem;
}

.form-control {
  font-size: 14px;
  height: 2.5rem;
  &:focus {
    outline: 1px solid $clr-blue-500;
    box-shadow: none;
    border-color: transparent;
  }
}

.learn-more {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 2rem;
  font-size: 0.8125rem;
  color: $clr-green-400;
  animation: shine 2s infinite, hover 2s alternate infinite ease-in-out;
  &:hover {
    color: $clr-green-400;
  }
  span {
    transform: translateX(30%);
    animation: hoverSmall 1s 1s alternate infinite ease-in-out;
  }
}

.text-danger {
  font-size: 12px;
  font-weight: 700;
  color: rgb(197, 3, 3);
}

.banner {
  background: url('../public//images//header_background.png') no-repeat;
  background-size: cover;
  min-height: 600px;
  padding-bottom: 3rem;
  color: $clr-white;
  h1 {
    color: $clr-white;
  }
  .banner_col {
    display: grid;
    grid-template-columns: 0.4fr 1fr 0.8fr;
    gap: 2rem;
    align-items: flex-end;
    padding-top: 2rem;
    .banner_text {
      grid-column: 2;
      .banner_text-box {
        // padding-bottom: 8rem;
        height: 400px;
      }
      .border_bottom {
        margin-left: -5rem;
      }
      .scroll_down {
        margin-left: -5rem;
        display: flex;
        align-items: center;
        gap: 2rem;
      }
    }
    .banner_img {
      justify-self: center;
    }
  }
  .btn-block {
    .primary-btn {
      margin-right: 1rem;
    }
  }
}

.services {
	margin-bottom: 2rem;
	.banner {
    padding-bottom: 0;
		min-height: 300px;
		.banner-img {
			margin-bottom: -3.2rem;
		}
	}
}

.checkbox-inline {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 0.5rem;
}

.form-inline {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.carousel {
  .carousel-item {
    .carousel-img {
      padding-bottom: 1.5rem;
      img {
        width: 80px !important;
        height: 80px !important;
        border-radius: 8px;
        object-fit: cover;
      }
    }
    .carousel-description {
      width: 25rem;
      font-size: clamp(1.2rem, calc( 12px + 1.800vw ), 1.75rem);
      &:before {
        content: '"';
        display: block;
        height: 25px;
      }
    }
    .rating {
      margin-bottom: 2rem;
      img {
        margin-right: 0.2rem !important;
      }
    }
    .carousel-footer {
      p {
        margin-bottom: 0.2rem;
      }
      .name {
        font-weight: 600;
      }
      .designation {
        font-size: 13px;
      }
    }
  }
}

.contact-form {
  background-image: url("../public/images/img_side.svg");
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: top -82px left;
  margin-bottom: -3rem;
  padding-top: 5rem;
  padding-bottom: 7rem;
}

.success-wrapper {
  .banner {
    .banner_col {
      grid-template-columns: 0.4fr 0.8fr 1fr;
      align-items: center;
      .banner_text-box {
        height: auto;
        p {
          margin-bottom: 2rem;
        }
      }
    }
  }
  .link-heading {
    font-size: 20px;
    line-height: 26px;
  }
  .contact-form {
    position: relative;
    &:after {
    content: "Contact Us";
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: -8%;
    top: 16rem;
    font-size: 5rem;
    transform: rotate(90deg);
    color: #f7f7f7;
    }
  }
}

.contact-wrapper, .blog-wrapper {
  header {
    background: $clr-blue-900;
    .navbar {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
}

.blog-wrapper {
  h2 {
    font-size: 1.8rem;
    &:after {
      display: none;
    }
  }
}

/*----------  checkbox  ----------*/
.checkbox-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}
input[type="checkbox"] {
  display: grid;
  place-content: center;
  margin-right: 1rem;
  width: 1.15em;
  height: 1.15em;
  border: 0.12em solid #B4BFC9;
  border-radius: 0.18em;
  transform: translateY(-0.075em);
  transition: border 0.1s ease;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

input[type="checkbox"]::before {
  content: "";
  width: 5px;
  height: 10px;
  border-bottom: 2px solid $clr-blue-500;
  border-right: 2px solid $clr-blue-500;
  opacity: 0;
  transform: rotate(45deg) scale(0);
  transition: all 0.2s ease;
  transition-delay: 0.15s;
}

input[type="checkbox"]:checked::before {
  opacity: 1;
  transform: rotate(45deg) scale(1);
}

input[type="checkbox"]:checked {
  border-color: $clr-blue-500;
  animation: jelly 0.2s ease;
}

@keyframes jelly {
  0%,
  100% {
    transform: scale(1, 1);
  }
  30% {
    transform: scale(1.1, 0.9);
  }
  40% {
    transform: scale(0.8, 1.2);
  }
  50% {
    transform: scale(1.1, 0.8);
  }
  65% {
    transform: scale(0.9, 1);
  }
  75% {
    transform: scale(1, 0.9);
  }
}


/*=====  learn more animation  ======*/
@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
  }
}

@-webkit-keyframes hover {
  from {
    transform: translateY(-50%);
  }

  to {
    transform: translateY(-75%);
  }
}

@-webkit-keyframes hoverSmall {
  from {
    transform: translateX(30%);
  }
  to {
    transform: translateX(10%);
  }
}

@-webkit-keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
}

@media (max-width: 1440px) {
  .banner {
    padding-bottom: 0;
    .banner_col {
      .banner_text {
        .banner_text-box {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .banner {
    .banner_col {
      grid-template-columns: 1fr 0.8fr;
    }
  }

  .success-wrapper {
    .banner {
      .banner_col {
        grid-template-columns: 1fr 1fr;
      }
      .banner_text {
        grid-column: 1;
        padding-left: 2rem;
      }
    }

    .contact-form {
      &:after {
        right: -14%;
      }
    }
  }
}

@media(max-width: 991px) {
  .navbar {
    justify-content: flex-end;
    flex-direction: row-reverse;
    .navbar-toggler {
      flex: 1 auto;
      display: flex;
      &:focus {
        box-shadow: none;
      }
    }
    .navbar-brand {
      flex: 1 auto;
    }
    .navbar-nav {
      align-items: flex-start !important;
      padding-top: 2rem;
      &:not(:last-child) {
        li {
          width: 100%;
          border-bottom: 1px solid #fff;
          padding: 1rem !important;
        }
      }
      li {
        display: flex;
      }
    }
    .nav-right {
      padding: 1.2rem;
      .btn {
        width: 100%;
        margin-bottom: 1rem;
      }
      li {
        width: 100%;
        margin-left: 0;
        justify-content: center;
      }
    }
    .navbar-collapse {
      min-height: 100vh;
      height: 100%;
      width: 250px;
      transition: transform 0.3s ease;
      animation: slide-out-left;
      position: fixed;
      bottom: 0;
      left: 0px;
      // display: block !important;
      background: rgb(25 55 111);
      box-shadow: 0 0 11px 0px #002466;
      transform: translateX(-1000px);
      z-index: 999999;
      &.show {
        display: block !important;
        transform: translateX(0);
      }
      .menu-close {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin-top: -1rem;
        margin-bottom: 1rem;
        padding-right: 1rem;
        cursor: pointer;
      }
    }
  }
  .banner {
    .banner_col {
      grid-template-columns: 1fr;
    }
    .banner-img {
      display: none;
    }
  }

  .carousel {
    .carousel-item {
      .carousel-description {
        width: 100%;
      }
    }
  }

  .services {
    .banner_col {
      .banner_text {
        grid-column: 1;
        padding-left: 1.7rem;
      }
    }
  }

  .success-wrapper {
    .banner {
      min-height: 400px;
      .banner_col {
        grid-template-columns: 1fr;
        .banner-cards {
          display: none ;
        }
      }
    }

    .contact-form {
      &:after {
        right: -18%;
        font-size: 4rem;
      }
    }
  }
}

@media(max-width: 767px) {
  .mb-xs-0 {
    margin-bottom: 0;
  }

  .d-inline-xs {
    display: inline-block !important;
  }

  .col-reverse {
    flex-direction: column-reverse;
  }

  .pt-xs-1 {
    padding-top: 1rem;
  }

  .form-inline {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .checkbox-inline {
		grid-template-columns: 1fr;
    margin-bottom: 0;
	}

  .form-group {
    margin-bottom: 1rem;
  }

  .banner {
		background-image: none;
		background: $clr-blue-900;
    min-height: auto;
    padding-bottom: 2rem;
    .banner_col {
      .banner_text {
        grid-column: 1;
        .banner_text-box {
          height: auto;
        }
        .scroll_down {
          display: none;
        }
      }
    }
	}

  .carousel {
    padding-bottom: 2rem;
  }
}

@media(max-width: 767px) {
  .pt-xs-0 {
    padding-top: 0 !important;
  }

  .mt-xs-2 {
    margin-top: 2rem;
  }

  .services {
    .banner {
      .banner_col {
        padding-bottom: 2rem;
        .banner_text {
          padding-left: 0.5rem;
          padding-right: 0.5rem;
        }
      }
    }
  }
}

@media(max-width: 480px) {
  .banner {
    .btn {
      width: 100%;
    }
    .btn-block {
      .primary-btn {
        margin-bottom: 1rem;
        margin-right: 0;
      }
    }
  }

  .contact-form {
    background-image: none;
  }

  .success-wrapper {
    .banner {
      .banner_col {
        .banner_text {
          padding-left: 0;
        }
      }
    }

    .contact-form {
      &:after {
        display: none;
      }
    }
  }
}
