@import './vaiables.scss';

.nav_header {
  .navbar {
    padding-top: 2rem;
    .navbar_brand {
      color: $clr-white;
    }
    .nav_link {
      position: relative;
      padding: 0 1.5rem !important;
      font-size: 13px !important;
      color: $clr-white;
      text-transform: capitalize;
      &:after {
        content: '';
        height: 2px;
        width: 100%;
        position: absolute;
        bottom: -7px;
        left: 0;
        background-color: $clr-green-400;
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }
      &:hover, &.active, &:focus {
        &:after {
          transform: scaleX(1);
          transform-origin: bottom left;
        }
        a {
          color: $clr-green-400;
        }
      }
    }
  }
  .header_cta {
    margin-left: 1rem;
  }
  .social_icon {
    margin-left: 1rem;
    a {
      font-size: 18px;
      &:hover {
        color: $clr-white;
      }
    }
  }
}

@media (max-width: 1024px) {
  .nav_header {
    .navbar {
      .collapse{
        justify-content: flex-end !important;
      }
    }
  }
}

@media(max-width: 991px) {
  .nav_header {
    position: relative;
    .navbar {
      .navbar-nav {
        align-items: flex-start !important;
        padding-top: 2rem;
        &:not(:last-child) {
          li {
            width: 100%;
            border-bottom: 1px solid #fff;
            padding: 1rem !important;
          }
        }
      }
      .nav_link {
        &.active {
          background: $clr-blue-900;
          a {
            color: $clr-white;
          }
        }
        &:after {
          display: none;
        }
      }
      .nav-right {
        li {
          margin-left: 0;
        }
      }
      .navbar-collapse {
        overflow-y: auto;
      }
    }
  }
}
