@import './vaiables.scss';

.nav_header {
  .navbar {
    padding-top: 2rem;
    .navbar_brand {
      color: $clr-white;
    }
    .nav_link {
      position: relative;
      padding: 0 1.5rem !important;
      font-size: 13px !important;
      color: $clr-white;
      &:after {
        content: '';
        height: 2px;
        width: 100%;
        position: absolute;
        bottom: -7px;
        left: 0;
        background-color: $clr-green-400;
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }
      &:hover, &.active {
        &:after {
          transform: scaleX(1);
          transform-origin: bottom left;
        }
        a {
          color: $clr-white;
        }
      }
    }
  }
  .header_cta {
    margin-left: 1rem;
  }
  .social_icon {
    margin-left: 1rem;
    a {
      font-size: 18px;
      &:hover {
        color: $clr-white;
      }
    }
  }
}

@media (max-width: 1024px) {
  .nav_header {
    .navbar {
      .collapse{
        justify-content: flex-end !important;
      }
    }
  }
}

@media(max-width: 991px) {
  .nav_header {
    .navbar {
      .navbar-nav {
        align-items: flex-start !important;
        padding-top: 2rem;
        &:not(:last-child) {
          li {
            width: 100%;
            border-bottom: 1px solid #fff;
            padding: 1rem !important;
          }
        }
      }
      .nav_link {
        &.active {
          background: $clr-blue-900;
        }
        &:after {
          display: none;
        }
      }
      .nav-right {
        li {
          margin-left: 0;
        }
      }
      .navbar-collapse {
        display: block !important;
        height: 100%;
        width: 250px;
        min-height: 100vh;
        position: fixed;
        bottom: 0;
        left: 0px;
        background: rgb(25 55 111);
        transition: transform 0.3s ease;
        transform: translateX(-100%);
        animation: slide-out-left;
        -webkit-animation: slide-out-left;
        z-index: 999999;
        box-shadow: 0 0 11px 0px #002466;
        overflow-y: auto;
        &.show {
          display: block !important;
          transform: translateX(0);
          // opacity: 1;
        }
      }
    }
  }
}
