@import './vaiables.scss';

.content_wrapper {
  .learnmore_banner {
    background: url('../public/images/banner_services.png') no-repeat;
    background-size: cover;
    height: 37.5rem;
    color: $clr-white;
  }
  .banner_text {
    padding-top: 5rem;
    padding-left: 4rem;
    h1 {
      font-family: Helvetica;
    }
  }
  .about_project {
    padding-top: 4rem;
    h3 {
      margin-bottom: 2rem;
    }
  }
  .product_img {
    display: flex;
    justify-content: flex-end;
    img {
      border-radius: 10px;
    }
  }
}
