@import './vaiables.scss';

.post_wrapper {
  padding: 0 0 4rem;
  position: relative;
  &:before {
    content: "";
    width: 100%;
    background-color: $clr-blue-900;
    position: absolute;
  }

  .post_container {
    max-width: calc(100vw - 50%);
    margin: auto;
  }
  h1 {
    margin-bottom: 2rem;
    margin-top: 3rem;
    font-size: clamp(1.5rem, 4vw, 2.2rem);
    line-height: 1.2;
  }
  h3 {
    margin-bottom: 1.5rem;
  }
  .blog_banner {
    margin: 0 auto 1rem auto;
    span {
      padding: 0 !important;
      aspect-ratio: 2/1;
      border-radius: 10px;
    }
    img {
      width: 100%;
      // object-fit: contain;
    }
  }
  figure {
    margin: 0 0 1.5rem;
    img {
      width: 100%;
      height: 500px;
      border-radius: 10px;
      object-fit: cover;
    }
  }
}

.portfolio_wrapper {
  h1 {
    display: inline-block;
    background-repeat: no-repeat;
    background-image: linear-gradient(180deg, transparent 65%, #a8a8b5 0);
    background-size: 100% 100%;
  }
}

@media(max-width: 1200px) {
  .post_wrapper {
    .post_container {
      max-width: calc(100vw - 25%);
    }
  }
}

@media(max-width: 767px) {
  .post_wrapper {
    .post_container {
      max-width: calc(100vw - 8%);
    }
    figure {
      img {
        height: 350px;
      }
    }
  }
}
