@import './vaiables.scss';

.post_wrapper {
  padding: 0 0 4rem;
  position: relative;
  &:before {
    content: "";
    width: 100%;
    background-color: $clr-blue-900;
    position: absolute;
  }

  .post_container {
    max-width: calc(100vw - 50%);
    margin: auto;
  }
  h1 {
    font-size: clamp(1.5rem, 4vw, 2.2rem);
    line-height: 1.2;
    margin-bottom: 2rem;
    margin-top: 3rem;
  }
  h3 {
    margin-bottom: 1.5rem;
  }
  .blog_banner {
    margin: 0 auto 1rem auto;
    img {
      width: 100%;
      object-fit: contain;
    }
  }
}

@media(max-width: 1200px) {
  .post_wrapper {
    .post_container {
      max-width: calc(100vw - 25%);
    }
  }
}

@media(max-width: 767px) {
  .post_wrapper {
    .post_container {
      max-width: calc(100vw - 5%);
    }
  }
}
