@import './vaiables.scss';

.banner_col {
  display: grid;
  grid-template-columns: 0.1fr 1fr 0.8fr;
  align-items: center;
  padding-top: 4rem;
}
.banner_text {
  grid-column: 2;
  h1 {
    color: $clr-white;
  }
}

.steps_container {
  background: url('../public//images/img_side.svg') no-repeat;
  background-size: contain;
  background-position: bottom left;
  padding-top: 5rem;
  padding-bottom: 5rem;
  font-size: 0.8rem;
  .step_percentage {
    height: 3px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: $clr-green-400;
    margin-bottom: 1rem;
    transition: width 0.3s ease;
  }

  .range_value {
    padding-top: 0.5rem;
    font-size: 1rem;
    font-family: Helvetica;
    font-weight: 700;
    color: $clr-blue-500;
    &:before {
      content: "$";
      padding-right: 0.1rem;
    }
  }

  .range_slide {
    padding: 2rem;
    background: #f8f8f8;
    border-radius: 4px;
  }
  .counter {
    color: $clr-grey-300;
    font-weight: 700;
    padding-bottom: 0.3rem;
  }
  .action_btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
  }
  .step_four {
    input[type=checkbox] {
      width: 1rem;
      height: 1rem;
      margin-right: 0.5rem;
    }
  }
  .step_five {
    .heading_text {
      color: $clr-blue-500;
      font-weight: 700;
    }
    .list_block {
      padding-left: 2.6rem;
    }
  }
}

.term_link {
  padding-left: 0.3rem;
  background-color: transparent;
  font-size: 0.8rem;
  color: $clr-blue-500;
  border: 0;
}

.step_text {
  display: flex;
  align-items: center;
  gap: 1rem;
  p {
    margin-bottom: 0;
    color: $clr-blue-800;
  }
  span {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 28px;
    line-height: 22px;
    height: 28px;
    border: 2px solid #d9d9d9;
    border-radius: 100%;
    font-size: 0.7rem;
  }
}
.step_error {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  font-weight: 700;
  color: #a60d0d;
}

@media(max-width: 991px) {
  .banner_col {
    grid-template-columns: 0.1fr 1fr;
  }
}

@media(max-width: 767px) {
  .banner_col {
    grid-template-columns: 1fr;
  }
  .banner_text {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .steps_container {
    background: none;
  }
}
