@import './vaiables.scss';

.services_list {
  padding-bottom: 2rem;
  padding-left: 1rem;
  li {
    list-style-type:disc;
    line-height: 2;
    &::marker {
      color: $clr-green-400;
      font-size: 1.2rem;
    }
  }
}

.back_btn {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  padding-left: 0;
  &:hover, &:focus {
    color: $clr-green-400;
    border-color: transparent;
    background: transparent;
  }
}

.consultation {
  padding-top: 5rem;
  overflow: hidden;
  .consultation_grid {
    display: grid;
    grid-template-columns: 0.3fr 0.75fr 1fr;
  }
  .consultation_text {
    grid-column: 2;
    padding-top: 2rem;
  }
  .consultation_img {
    justify-self: flex-end;
    margin-right: -4.2rem;

  }
}

.implementation {
  .implementation_grid {
    display: grid;
    grid-template-columns: 1fr 0.75fr 0.3fr;
  }
  .implementation_img {
    justify-content: flex-end;
    transform: translateX(-7rem);
  }
}

.validation {
  overflow: hidden;
  padding-top: 6rem;
  .validation_grid {
    display: grid;
    grid-template-columns: 0.3fr 0.75fr 1fr;
  }
  .validation_text {
    grid-column: 2;
    align-self: center;
  }
  .validation_img {
    justify-self: flex-end;
    transform: translateX(7rem);
    width: 100%;
    height: 100%;
    z-index: 99;
    span {
      padding-top: 0 !important;
      aspect-ratio: 4/2;
      object-fit: contain;
    }
  }
}

.design {
  display: grid;
  grid-template-columns: 1fr 0.75fr 0.3fr;
  align-items: center;
  min-height: 490px;
  margin-top: -6rem;
  position: relative;
  background: $clr-blue-900;
  clip-path: polygon(100% 0, 100% 75%, 0 100%, 0 20%);
  color: #ffffff;
  // z-index: -1;
  .design_img {
    align-self: flex-end;
    transform: translate(-8rem, -1rem);
    width: 43.75rem;
    height: 25rem;
    img {
      object-fit: contain;
    }
  }
}

.development {
  display: grid;
  grid-template-columns: 0.3fr 0.75fr 1fr ;
  align-items: center;
  overflow: hidden;
  .development_text {
    grid-column: 2;
  }
  .development_img {
    justify-self: flex-end;
    transform: translateX(6rem);
  }
}
@media(max-width: 1440px) {
  .validation {
    .validation_grid {
      grid-template-columns: 0.2fr 1fr 1fr;
    }
  }
}
@media(max-width: 1024px) {
  .consultation {
    .consultation_grid {
      grid-template-columns: 0.08fr 1fr 1fr;
    }
  }

  .implementation {
    .implementation_grid {
      grid-template-columns: 1fr 1fr 0.06fr;
    }
  }

  .validation {
    .validation_grid {
      grid-template-columns: 0.08fr 1fr 1fr;
    }
  }

  .design {
    grid-template-columns: 1fr 1fr 0.06fr;
    height: 470px;
    margin-top: -4rem;
    .design_img {
      transform: translate(-4rem, -2rem);
      width: 28.75rem;
    }
  }

  .development {
    grid-template-columns: 0.08fr 1fr 1fr;
    padding-bottom: 4rem;
  }
}

@media (max-width: 991px) {
  .consultation {
    padding-bottom: 4rem;
  }

  .implementation {
    padding-bottom: 4rem;
    .implementation_img {
      transform: translateX(-4rem);
    }
  }

  .validation {
    .validation_img {
      transform: translateX(2rem);
    }
  }

  .design {
    margin-top: 0;
    margin-bottom: 4rem;
    .design_img {
      transform: translate(-4rem, 0);
      width: 22.75rem;
    }
  }

  .development {
    .development_img {
      transform: translateX(2rem);
    }
  }
}

@media(max-width: 767px) {
  .consultation, .validation {
    padding: 4.5rem 1rem 0;
    .consultation_grid, .validation_grid {
      grid-template-columns: 1fr;
      row-gap: 1.5rem;
    }
    .consultation_img, .validation_img {
      margin-right: 0;
      grid-column: 2;
      grid-row: 1;
    }
  }

  .implementation {
    padding-left: 1rem;
    padding-right: 1rem;
    .implementation_grid {
      grid-template-columns: 1fr;
    }
    .implementation_img {
      transform: translateX(0);
    }
  }

  .validation {
    .validation_img {
      transform: translateX(0);
    }
  }

  .design {
    grid-template-columns: 1fr;
    row-gap: 1.3rem;
    clip-path: none;
    height: auto;
    padding: 4rem 1rem;
    .design_img {
      transform: translateX(0);
      width: 21.5rem;
      height: 10rem;
      span {
        aspect-ratio: 4/2;
      }
    }
  }

  .development {
    grid-template-columns: 1fr;
    padding: 0 1rem 5rem;
    row-gap: 2rem;
    .development_img {
      grid-column: 2;
      grid-row: 1;
      transform: translateX(0);
    }
  }
}
