$clr-black:#010101;
$clr-white: #ffffff;
$clr-green-300: #69B072;
$clr-green-400: #00AF10;
$clr-green-900:#374F39;
$clr-blue-500: #1B63DC;
$clr-blue-700: #283552;
$clr-blue-800: #142342;
$clr-blue-900: #010040;
$clr-grey-100: #F5F5F5;
$clr-grey-200: #F4F4F4;
$clr-grey-300: #8E8E8E;
$clr-grey-400: #D5D5D5;
$clr-grey-600: #B4BFC9;
$clr-yellow-600: #F0A93F;
$font-comfortaa: 'Comfortaa', sans-serif;
